
<section class="{{ class }} ce_accordion ce_text block" {{ cssID }}{% if style %} style="{{ style }}"{% endif %}>

  <div class="{{ toggler }}"{% if headlineStyle %} style="{{ headlineStyle }}"{% endif %}>
    {{ headline }}
  </div>

  <div class="{{ accordion }}">
    <div>
