{#  Ausgabe des Accordion-Headers als h2 mit zusaetzlichem span-tag und zusaezlicher Klasse test #}

<section class="{{ class }} ce_accordion ce_text block" {{ cssID }}{% if style %} style="{{ style }}"{% endif %}>

    <div class="{{ toggler }}"{% if headlineStyle %} style="{{ headlineStyle }}"{% endif %}>
        <h2><span>{{ headline }}</span></h2>
    </div>

    <div class="{{ accordion }}">
        <div class=" test block">