{# zusaetzliches span-tag #}
<!-- indexer::stop -->
<div class="{{ class }} block" {{ cssID }}{% if style %} style="{{ style }}" {% endif %}>
    <a href="{{ request }}#top" title="{{ title }}"><span>{{ label }} </span></a>
</div>
<!-- indexer::continue -->